<% layout('../layouts/boilerplate') %>

<div class="apart">

    <article class="userSpecific">

        <% if(all){ %>
        <% for(let word of all){ %>
        <a href="../word/<%= word.id%>">
            <section class="word">
                <h1><%= word.title%></h1>
                <h3><%= word.category %></h3>
                <p><%= word.text %></p>
            </section>
        </a>
        <% } %>
        <% } else { %>
        <section class="word">
            <h1>Aqui tá bem vazio</h1>
            <h3>Faça uma publicação logo poh</h3>
        </section>
        <% } %>


    </article>

    <aside>
        <% if(all){ %>
        <h1>Total posts: <%= all.length %> </h1>

        <% } %>
    </aside>
</div>

</html>